<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated behavior -->
      <package
            uri="http://www.example.org/behavior"
            class="edu.kit.ipd.sdq.modsim.simspec.model.behavior.BehaviorPackage"
            genModel="model/behavior.genmodel"/>
   </extension>

</plugin>
