<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.debug.ui.launchShortcuts">
		<shortcut
			class="edu.kit.ipd.sdq.modsim.simspec.plugin.LaunchShortcut"
			id="edu.kit.ipd.sdq.modsim.simspec.launchDescomp"
			label="Export to Descomp"
			modes="run">
			
			<contextualLaunch>
				<enablement>
					<with variable="selection">
						<count value="1"/>
						<iterate>
							<test property="org.eclipse.debug.ui.matchesPattern" value="*.simspec"/>
						</iterate>
					</with>
				</enablement>
			</contextualLaunch>
		</shortcut>
	</extension>
</plugin>
